@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Igor Didenko<br />
    8 Cahoonzie Club Rd.<br />
    Sparrow Bush, NY 12780<br />
    <abbr title="Phone">P:</abbr>
    848.468.6618
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ded914@gmail.com">ded914@gmail.com</a><br />
</address>